<ion-view view-title="Pengaturan">
	<ion-content class="page-about">
		
		<div class="padding">

			<h2>Tentang Aplikasi</h2>

			<p>Mobile Library 2.0 menampilkan koleksi buku perpustakaan Sekolah Dasar Labschool UPI. Pengguna dapat mencari buku melalui kotak pencarian, atau memilih berdasarkan kategori.</p>
			<p>Setiap pengguna dapat berbagi review dan pengalamannya pada setiap buku, serta melihat ketersediaan buku tersebut di perpustakaan. Dengan melihat review dan ketersediaan buku, dapat merangsang pengguna lain untuk ikut membaca buku tersebut.</p>

		</div>

	</ion-content>
</ion-view>