<ion-view view-title="">
	<ion-content>
		<div class="book-detail">
			
			<div class="banner-head">
				<div class="title">{{book.title}}</div>
				<div class="author">oleh <span ng-repeat="author in book.authors track by $index">{{($index > 0) ? ', ' : ''}}{{author.author_name}}</span></div>

				<div class="button-bar">
					<a class="button active icon-left ion-ios-book" ui-sref="app.buku({id: id})">
						About
					</a>
					<a class="button icon-left ion-chatbubble" ui-sref="app.buku-review({id: id})">
						Review
					</a>
				</div>
			</div>
			
			<div class="card">
				<div class="item item-divider">
					Informasi Buku
				</div>
				<div class="item item-text-wrap wrapper book-info">
					<div class="thumbnail" ng-style="{backgroundImage: 'url(' + getBookThumbnail(book.image) + ')'}" ng-show="book.image">
					</div>
					<div class="thumbnail" ng-hide="book.image" ng-style="{'background-color': getColor()}">
						<div class="text">
							{{book.title}}
						</div>
					</div>
					<div class="detail">
						<div class="info stars">
							<span class="star icon" ng-class="{'ion-android-star': (book.rate >= 1), 'ion-android-star-half': ((book.rate >= 0.3) && (book.rate < 0.7)), 'ion-android-star-outline': (book.rate < 0.3)}"></span>
							<span class="star icon" ng-class="{'ion-android-star': (book.rate >= 2), 'ion-android-star-half': ((book.rate >= 1.3) && (book.rate < 1.7)), 'ion-android-star-outline': (book.rate < 1.3)}"></span>
							<span class="star icon" ng-class="{'ion-android-star': (book.rate >= 2), 'ion-android-star-half': ((book.rate >= 2.3) && (book.rate < 2.7)), 'ion-android-star-outline': (book.rate < 2.3)}"></span>
							<span class="star icon" ng-class="{'ion-android-star': (book.rate >= 3), 'ion-android-star-half': ((book.rate >= 3.3) && (book.rate < 3.7)), 'ion-android-star-outline': (book.rate < 3.3)}"></span>
							<span class="star icon" ng-class="{'ion-android-star': (book.rate >= 4), 'ion-android-star-half': ((book.rate >= 4.3) && (book.rate < 4.7)), 'ion-android-star-outline': (book.rate < 4.3)}"></span>
							{{book.rate}}
						</div>
						<div class="info" ng-if="book.publisher_name">
							<span class="h">Penerbit</span>
							<span class="c">{{book.publisher_name}}</span>
						</div>
						<div class="info" ng-if="book.place_name">
							<span class="h">Tempat Terbit</span>
							<span class="c">{{book.place_name}} - {{book.publish_year}}</span>
						</div>
						<div class="info">
							<div class="h">Bahasa</div>
							<div class="c">{{book.language_name}}</div>
						</div>
						<div class="info">
							<div class="h">Deskripsi Fisik</div>
							<div class="c">{{book.collation}}</div>
						</div>
						<div class="info">
							<span class="h">ISBN/ISSN</span>
							<div class="c">{{book.isbn_issn}}</div>
						</div>
						
					</div>
				</div>
				<div class="item item-text-wrap" ng-if="book.notes">
					{{book.notes}}
				</div>

				<div class="item item-body button-bar">
					<a class="button icon-left" ng-class="{'ion-ios-heart': isFavorit, 'ion-ios-heart-outline': !isFavorit}" ng-click="toggleFav()">Favorit
					</a>
					<a class="button icon-left ion-share">
						Share
					</a>
				</div>
			</div>

			<div class="card card-ketersediaan list" ng-if="book.items">
				<div class="item item-divider">
					Ketersediaan
				</div>
				<div class="item"  ng-repeat="item in book.items track by $index">
					<h2>{{item.item_code}}</h2>
					<p ng-if="!item.due_date">Tersedia</p>

					<p ng-if="item.due_date">Dipinjam</p>
					<p ng-if="item.due_date">Jatuh Tempo : {{item.due_date}}</p>

					<p ng-if="item.due_date" class="member-name" ng-click="doOpenUser(item.member_id)">{{item.member_name}}</p>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>


