<ion-view view-title="Koleksi Buku">
	<ion-content>
		
		<div class="cards books">
			<div class="card book" ng-repeat="book in books track by $index" ng-click="openBook($index + 1)">
				<div class="thumbnail" ng-style="{backgroundImage: 'url(img/asset/tumbnailCourse2.png)'}">
				</div>
				<div class="detail">
					<div class="title">{{book.title}}</div>
					<div class="info">by {{book.author}}</div>
					<div class="info stars">
						<span class="star icon" ng-class="{'ion-android-star': (book.rating >= 1), 'ion-android-star-half': ((book.rating >= 0.3) && (book.rating < 0.7)), 'ion-android-star-outline': (book.rating < 0.3)}"></span>
						<span class="star icon" ng-class="{'ion-android-star': (book.rating >= 2), 'ion-android-star-half': ((book.rating >= 1.3) && (book.rating < 1.7)), 'ion-android-star-outline': (book.rating < 1.3)}"></span>
						<span class="star icon" ng-class="{'ion-android-star': (book.rating >= 2), 'ion-android-star-half': ((book.rating >= 2.3) && (book.rating < 2.7)), 'ion-android-star-outline': (book.rating < 2.3)}"></span>
						<span class="star icon" ng-class="{'ion-android-star': (book.rating >= 3), 'ion-android-star-half': ((book.rating >= 3.3) && (book.rating < 3.7)), 'ion-android-star-outline': (book.rating < 3.3)}"></span>
						<span class="star icon" ng-class="{'ion-android-star': (book.rating >= 4), 'ion-android-star-half': ((book.rating >= 4.3) && (book.rating < 4.7)), 'ion-android-star-outline': (book.rating < 4.3)}"></span>
						{{book.rating}}
					</div>
					<div class="info">Tersedia : <b>{{book.stock.available}}</b> dari <b>{{book.stock.total}}</b> buku</div>
					<div class="info">{{book.review_count}} Review</div>
				</div>
			</div>
		</div>

	</ion-content>
</ion-view>


