<ion-view view-title="Login">
	<ion-content class="page-login">
		
		<div class="logo-big">
			<img src="img/logo_big.png" alt="">
		</div>

		<div class="list card">	
			<label class="item item-input-wrapper">
				<i class="icon ion-person placeholder-icon"></i>
				<input type="text" placeholder="Username">
			</label>
			<label class="item item-input-wrapper">
				<i class="icon ion-locked placeholder-icon"></i>
				<input type="password" placeholder="Password">
			</label>
		</div>
		<div class="wrapper button-login">
			<button class="button button-full button-positive" ng-click="doLogin()">
				Login
			</button>
		</div>

	</ion-content>
	<div class="mainbg">
        <div class="kiriatas"></div>
        <div class="kananbawah"></div>
    </div>
</ion-view>


