<ion-view view-title="Login">
	<ion-content class="page-login page-register">
		
		<div class="logo-big">
			<img src="img/logo_big.png" alt="">
		</div>

		<h3>REGISTRASI</h3>

		<div class="list card">	
			<label class="item item-input-wrapper">
				<i class="icon ion-person placeholder-icon"></i>
				<input type="text" placeholder="Nama Panggilan" ng-model="data.member_id">
			</label>
		</div>
		<div class="list card">	
			<label class="item item-input-wrapper">
				<i class="icon ion-person placeholder-icon"></i>
				<input type="text" placeholder="Nama Lengkap" ng-model="data.member_name">
			</label>
		</div>
		<div class="list card">	
			<label class="item item-input-wrapper">
				<i class="icon ion-email placeholder-icon"></i>
				<input type="email" placeholder="Email" ng-model="data.email">
			</label>
		</div>
		<div class="list card">	
			<label class="item item-input-wrapper">
				<i class="icon ion-android-phone-portrait placeholder-icon"></i>
				<input type="text" placeholder="Nomor HP" ng-model="data.member_phone">
			</label>
		</div>
		<br>
		<div class="list card">	
			<label class="item item-input-wrapper">
				<i class="icon ion-locked placeholder-icon"></i>
				<input type="password" placeholder="Password" ng-model="data.password">
			</label>
		</div>
		<div class="list card">	
			<label class="item item-input-wrapper">
				<i class="icon ion-locked placeholder-icon"></i>
				<input type="password" placeholder="Ulangi Password" ng-model="data.password2">
			</label>
		</div>
		<br>
		<div class="wrapper button-login">
			<button class="button button-full button-positive" ng-click="doRegister()">
				Register
			</button>

			<div class="nr" >Sudah Punya Akun? <br></div>
			<button class="button button-calm" ng-click="openLogin()">
				&nbsp; Login &nbsp;
			</button>
		</div>

	</ion-content>
	<div class="mainbg">
        <div class="kiriatas"></div>
        <div class="kananbawah"></div>
    </div>
</ion-view>


