<ion-view view-title="Login">
	<ion-content>
		
		<div class="logo-big">
			<img src="img/logo_big.png" alt="">
		</div>

		<div class="list card">
			<label class="item item-input">
				<span class="input-label">Username</span>
				<input type="text">
			</label>
			<label class="item item-input">
				<span class="input-label">Password</span>
				<input type="password">
			</label>
		</div>
		<div class="wrapper" style="margin: 10px;">
			<button class="button button-full button-positive" ng-click="doLogin()">
				Login
			</button>
		</div>

	</ion-content>
</ion-view>


