<ion-view view-title="Pengaturan">
	<ion-content>
		
		<div class="list card">
			<div class="item item-divider">
				Pengiriman Notifikasi
			</div>
			<div class="item item-toggle item-icon-left">
				<i class="icon ion-ios-email"></i>
				Via Email
				<label class="toggle toggle-positive">
					<input type="checkbox">
					<div class="track">
						<div class="handle"></div>
					</div>
				</label>
			</div>
			<div class="item item-toggle item-icon-left">
				<i class="icon ion-ipad"></i>
				Via Aplikasi
				<label class="toggle toggle-positive">
					<input type="checkbox">
					<div class="track">
						<div class="handle"></div>
					</div>
				</label>
			</div>
		</div>

		<div class="list card">
			<div class="item item-toggle item-icon-left">
				<i class="icon ion-volume-medium"></i>
				Sound Effect
				<label class="toggle toggle-positive">
					<input type="checkbox">
					<div class="track">
						<div class="handle"></div>
					</div>
				</label>
			</div>
			<div class="item item-icon-left">
				<i class="icon ion-help-circled"></i>
				About
			</div>
			<div class="item item-icon-left">
				<i class="icon ion-help-buoy"></i>
				Support 
			</div>
			<div class="item item-icon-left" ng-click="doLogout()">
				<i class="icon ion-log-out"></i>
				Logout
			</div>
		</div>

	</ion-content>
</ion-view>