<ion-view view-title="{{member_id}}">
	<div class="pesan-single">
		<ion-content delegate-handle="chatScroll">
			<ul>
				<li ng-repeat="msg in messages | orderBy:timestamp:true track by msg.id" ng-class="{own: (msg.member_id == user.profile.member_id)}">
					<div class="avatar" ng-style="{'background-image': 'url(' + getMemberAvatar(msg.member_image) + ')'}">
					</div>
					<div class="box">
						<div class="name">{{msg.member_name}}</div>
						<div class="text">{{msg.text}}</div>
						<div class="time">{{msg.timestamp | goodate}}</div>
					</div>
				</li>
			</ul>
		</ion-content>
		<div class="message-input">
			<input type="text" ng-model="text" placeholder="Ketik Pesan">
			<button class="button icon ion-paper-airplane" ng-click="sendMessage()">
			</button>
		</div>
	</div>
</ion-view>