<ion-view view-title="Pesan">
	<ion-content>
		<div class="header">
			<div class="icon ion-ios-email">
			</div>
			<div class="title" ng-show="messages.length">{{messages.length}} Pesan</div>
			<div class="title" ng-hide="messages.length">Tidak ada pesan</div>

			<div class="right icon ion-plus" ng-click="newMessage()"></div>
		</div>

		<div class="notif-page">
			<div class="wrapper">
				<div class="list notifications messages">

					<div class="item item-avatar" ng-repeat="msg in messages track by $index" ng-click="openChat(msg.member_id)">
						<img ng-src="{{getMemberAvatar(msg.member_image)}}" alt="">
						<h2>{{msg.member_name}}</h2>
						<p>{{msg.last_message}}</p>
						<p>{{msg.last_time}}</p>
					</div>

				</div>
			</div>
		</div>

	</ion-content>
</ion-view>


