<ion-view view-title="Profil Member">
	<ion-content>
		
		<div class="user-profil">
			<div class="wrapper">
	  			<div class="avatar">
	  				<img ng-src="{{user.profile.member_image}}">
	  			</div>
	  			<div class="detail">
	  				<div class="name item item-icon-right">
	  					<span ng-if="!isEditName">{{user.profile.member_name}}&nbsp;</span>
						<input type="text" class="edit" ng-model="edit.member_name" ng-if="isEditName">
						<i class="icon ion-compose" ng-click="editName()" ng-if="!isEditName"></i>
						<i class="icon ion-android-upload" ng-click="saveBio()" ng-if="isEditName"></i>
	  				</div>
					<div class="nip">{{user.profile.member_id}}</div>
	  			</div>

	  			<input type="file" onchange="angular.element(this).scope().changeImage(this)" id="userImageEl">

				<div class="edit-avatar" ng-click="doChangeAvatar()">
					<i class="icon ion-compose">&nbsp;</i>
				</div>
	  		</div>
	  	</div>

		<div class="user-bio padding">
			
			<div class="list">
				<div class="item item-divider">
					Nomor telepon
				</div>
				<div class="item item-icon-right">
					<span ng-if="!isEditPhone">{{user.profile.member_phone}}&nbsp;</span>
					<input type="text" class="edit" ng-model="edit.member_phone" ng-if="isEditPhone">
					<i class="icon ion-compose" ng-click="editPhone()" ng-if="!isEditPhone"></i>
					<i class="icon ion-android-upload" ng-click="saveBio()" ng-if="isEditPhone"></i>
				</div>
			</div>

			<div class="list">
				<div class="item item-divider">
					Alamat
				</div>
				<div class="item item-icon-right">
					<span ng-if="!isEditAddress">{{user.profile.member_address}}&nbsp;</span>
					<input type="text" class="edit" ng-model="edit.member_address" ng-if="isEditAddress">
					<i class="icon ion-compose" ng-click="editAddress()" ng-if="!isEditAddress"></i>
					<i class="icon ion-android-upload" ng-click="saveBio()" ng-if="isEditAddress"></i>
				</div>
			</div>
			

		</div>

	</ion-content>
</ion-view>