<ion-view view-title="Profil Pengguna">
	<ion-content>
		
		<div class="card user-profil">
			<div class="wrapper row">
	  			<div class="avatar col col-33">
	  				<img ng-src="{{user.profile.member_image}}">
	  			</div>
	  			<div class="detail col">
	  				<div class="name">{{user.profile.member_name}}</div>
					<div class="nip">{{user.profile.member_id}}</div>
					<div class="info">{{user.profile.member_email}}</div>
					<div class="status">{{user.profile.member_phone}}</div>
	  			</div>
	  		</div>
	  	</div>

		<div class="list card info">

			<span class="item item-icon-right">
				Buku Dipinjam
				<span class="icon">12</span>
			</span>
			<span class="item item-icon-right">
				Buku Dikembalikan
				<span class="icon">23</span>
			</span>
			<span class="item item-icon-right">
				Buku Terlambat
				<span class="icon">2</span>
			</span>

		</div>

	</ion-content>
</ion-view>