<ion-view view-title="Reservasi">
	<ion-content>

		<div class="header">
			<div class="icon ion-ios-book">
			</div>
			<div class="title">Daftar Reservasi Buku</div>
		</div>

		<div class="cards books">
			<div class="card book" ng-repeat="book in books track by $index" ng-click="openBook(book.biblio_id)">
				<div class="thumbnail" ng-style="{backgroundImage: 'url(' + getBookThumbnail(book.image) + ')'}" ng-show="book.image">
				</div>
				<div class="thumbnail" ng-hide="book.image" ng-style="{'background-color': getColor($index)}">
					<div class="text">
						{{book.title}}
					</div>
				</div>
				<div class="detail">
					<div class="title">{{book.title}}</div>
					<div class="info">{{book.authors}}</div>
					<div class="info">{{book.publisher_name}} {{book.publish_year}}</div>
					<hr>
					<div class="info">Tanggal Reservasi : <span class="v">{{book.reserve_date | goodate}}</span></div>
				</div>
			</div>
		</div>

	</ion-content>
</ion-view>


