$color-main : $positive;
$color-main-darker : darken($color-main, 10);
$color-main-light: lighten($color-main, 20);
$color-main-lightest: lighten($color-main, 60);

$color-secondary: #FFEB3B;

@import "ionic-override";

body {
	font-family: "RobotoDraft", sans-serif;
}

.view {
	.nav-bar-container {
		.bar {
			&.bar-header {
				background-color: $color-main;
				font-weight: bold;
				color: white;
				.buttons {
					&.back-button {
						color: white;
						margin-right: 15px;
						.back-text {
							display: none;
						}
					}
					.button {
						background-color: transparent;
						color: white;
						.icon {
							font-size: 32px;
							display: block;
						}
					}
				}
			}
		}
	}
	.menu {
		ion-header-bar.profile {
			width: 100%;
			display: table;
			padding: 20px;
			text-align: center;
			background-color: $color-main-darker;
			color: white;
			background-image: none;
			.avatar {
				width: 80px;
				height: 80px;
				border-radius: 50%;
				box-shadow: 0px 0px 7px -5px #444;
				margin: 10px auto;
				background-size: cover;
				background-repeat: no-repeat;
				line-height: 80px;
				font-size: 2em;
				font-weight: bold;
				background-color: $color-main-darker;
				color: white;
			}
			.name {
				font-size: 1.2em;
				font-weight: bold;
			}
			.edit-profile {
				padding-top: 10px;
				a {
					color: white;
					font-size: 0.9em;
					text-decoration: underline;
				}
			}
		}
		ion-content {
			background-color: $color-main;
			color: white;
			&.has-header {
				top: 190px;
			}
			.list {
				.item {
					border: 0px;
					padding: 12px 16px;
					font-size: 1em;
					position: relative;
					background-color: transparent;
					&:first-child {
						padding-top: 24px;	
					}
					span {
						position: initial;
						float: left;
						font-size: 0.9em;
					}
					.icon {
						display: inline-block;
						display: block;
						font-size: 1.5em;
						margin-right: 10px;
					}
				}
			}
		}
	}
	.view-container {
		
		ion-content {
			background-image: url("../img/bg.png");
			.header {
				padding: 10px 10px 10px 10px;
				position: relative;
				display: table;
				width: 100%;
				color: $color-main;
				.icon {
					font-size: 2em;
					float: left;
					padding: 10px 20px 10px 20px;
				}
				.title {
					float: left;
					padding: 14px 0px;
					font-size: 1.2em;
					font-weight: bold;
					line-height: 1.1em;
				}
			}
		}
	}
}
.page-koleksi {
	.search {
		margin: 10px;
	}
}
.books {
	.book {
		position: relative;
		box-sizing: border-box;
		background-color: white;
		padding: 10px 10px 10px 80px;
		margin: 0px 10px 10px 10px;
		min-height: 100px;
		.thumbnail {
			float: left;
			width: 100%;
			max-width: 60px;
			height: 80px;
			background-size: cover;
			position: absolute;
			left: 10px;
			top: 10px;
			.text {
				font-size: 1.5em;
				font-weight: bold;
				color: white;
				padding: 5px;
			}
		}
		.detail {
			.title {
				font-size: 1.2em;
				color: $color-main;
			}
			.info {
				color: #666;
				font-size: 0.9em;
				.icon {
					color: $color-main;
				}
			}
		}
	}
}
.book-detail, .notif-page {
	.banner-head {
		padding: 20px 20px 0px 20px;
		background-color: $color-main;
		.title, .author {
			color: white;
		}
		.button-bar {
			background-color: transparent;
			margin-top: 10px;
			.button	{
				background-color: transparent;
				border: 0px;
				box-shadow: none;
				color: white;
				border-radius: 0px;
				&.active {
					color: $color-secondary;
				}
			}
		}
	}
	.card {
		.item-divider {
			text-align: center;
			color: $color-main;
		}
		.wrapper {
			margin: 0px;
		}
	}
	.title {
		font-size: 1.3em;
		font-weight: 500;
		color: $color-main;
	}
	.wrapper {
		position: relative;
		display: table;
		width: 100%;
		margin: 15px 0px;
		h4 {
			color: $color-main;
			margin-top: 10px;
			margin-bottom: 0px;
			border-bottom: solid 1px $color-main-light;
		}
		.thumbnail {
			float: left;
			width: 30%;
			max-width: 80px;
			height: 130px;
			margin-right: 4%;
			background-size: cover;
			.text {
				font-size: 1.5em;
				font-weight: bold;
				color: white;
				padding: 5px;
			}
		}
		.detail {
			max-width: 66%;
			float: left;
			.info {
				color: #666;
				font-size: 0.9em;
				.icon {
					color: $color-main;
				}
			}
		}
	}
	&.notif-page {
		padding: 10px;
		.wrapper {
			margin: 0px;
		}
	}
}

.rating-create {
	h4 {
		text-align: center;
	}
	.card-rating {
		.item-divider {
			text-align: center;
			color: $color-main-darker;
		}
	}
	.stars {
		display: table;
		margin: 0px auto;
		.star {
			font-size: 2.5em;
			margin: 0px 3px;
			color: $color-main;
		}
	}
	.text-area {
		width: 100%;
		height: 80px;
		border: solid 1px #ddd;
		padding: 10px;
	}
}

.comments {
	.item-divider {
		text-align: center;
		color: $color-main-darker;
	}
	.comment {
		display: table;
		width: 100%;
		margin-bottom: 20px;
		padding: 0px 0px 10px 60px;
		border-bottom: solid 1px $color-main-light;
		position: relative;
		.avatar {
			width: 50px;
			position: absolute;
			left: 0px;
			top: 0px;
			img {
				width: 100%;
			}
		}
		.detail {
			.name {
				font-weight: 500;
			}
			.date {
				font-size: 0.8em;
				margin-top: -0.4em;
			}
			.content {
				color: #666;
			}
		}
	}
}

.notifications {
	.item {
		h2 {
			color: #444;
			word-break: break-word;
			white-space: initial;
			font-weight: normal;
		}
		p {
			font-size: 0.8em;
		}
	}
}
.messages {
	.item {
		h2 {
			font-weight: bold;
		}
	}
}

.user-profil {
	.wrapper {
		.name {
			font-size: 1.2em;
			font-weight: 500;
			color: $color-main;
		}
		.nip {
			color: $color-main;
			font-size: 1.1em;
		}
		.avatar {
			
			img {
				width: 100%;
			}
		}
		.detail {
			
		}
	}
}

.logo-big {
	width: 60%;
	margin: 50px auto 30px auto;
	max-width: 300px;
	img {
		width: 100%;
	}
}

.page-login {
}
.mainbg {
	background-image: url("../img/bg.png");
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 100%;
	.kiriatas {
		background-image: url("../img/kiri_atas.png");
		width: 320px;
		height: 184px;
		position: fixed;
		left: 0px;
		top: 0px;
		background-size: contain;
		background-repeat: no-repeat;
	}
	.kananbawah {
		background-image: url("../img/kanan_bawah.png");
		right: 0px;
		bottom: 0px;
		position: fixed;
		width: 320px;
		height: 184px;
		background-size: contain;
		background-repeat: no-repeat;
	}
}
